/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
========================================================================== */

/* General Styles */

html {
	font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #e2e3ed;
}

ul, 
ol {
    font-size: 1.125em;
    font-weight: bold;
    list-style-type: none;
}

a {
    color: #e2e3ed;
    text-decoration: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25em;
    font-weight: 400;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.875em;
    font-weight: 400;
}

h3, 
h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    font-weight: 400;
}

p {
	font-size: .875em;
    line-height: auto;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

address {
    font-style: normal;
}

.content-wrapper {

}

/*-----------------BASE HEADER & FOOTER STYLES-----------------*/

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #202322;
    flex-basis: 100%;
}

header {
    padding: 1em 0;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-basis: 100%;
}

header figure {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.header-divider {
    flex-basis: 100%;
    margin: .625em 0 .9375em 0;
    border: 0.0175em solid #fff;
    opacity: .3;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    flex-basis: 100%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    margin: 0 auto;
    padding: 0;
}


footer {
    
}

footer .content-wrapper {
    flex-basis: 100%;
    margin: 0 auto;
    text-align: center;
}

footer .footer-content {
    
}

address .contact {

}

footer .social {

}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-icons p {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------Mobile Styles - Homepage---------------*/

/*Hero Area */

.hero-area {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 500px;
    background-image: url('../img/hero-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-area .content-wrapper {
    width: 85%;
}

/* Aside */

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #527158;
    padding: 1em 0 3.215em 0;
}

aside .form {
  margin-top: 1.875em;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 1.25em 0;
  margin-top: 1.25em;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

aside .content-wrapper {
    flex-basis: 88%;
}

.form-description {
    
}

/* Features */

.features {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1em 0 3.125em 0;
    background-image: url(../img/camp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.features .content-wrapper {
    flex-basis: 83%;
}

.features .features-items {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.features article {
    flex-basis: 55%;
}

.fontawesome-icon {
    
}

.features-item-description {
    
}

/*Reviews*/

.reviews {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #2a423a;
    padding: 1em 0 3.215em 0;

}

.reviews h3 {
    flex-basis: auto;
}

.reviews .content-wrapper {
    flex-basis: 83%;
}

.review-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/* ==========================================================================
   Mobile About Page
   ========================================================================== */

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #527158;
}

.mission .content-wrapper {
    padding: 1em;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #2a423a;
}

.contact-section .content-wrapper {
    padding: 1em;
}

.map figure {
    width: 100%;
    height: 0; 
    padding-bottom: 80%; 
    overflow: hidden;
    position: relative;
}

.map iframe {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
}

/* ==========================================================================
   Mobile FAQ Page
   ========================================================================== */

.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #527158;
}

.faq .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/*Tablet styles here*/
    
    html {
        font-size: 21px;
    }
    
    h2 {
        font-size: 1.7em;
    }
    
    p {
        font-size: .7em;
    }
    
    nav ul li {
        font-size: 0.66em;
    }
    
    /*TABLET HEADER AND FOOTER STYLES*/
    
    header {
        padding: 1.875em 2.9em;
    }

    header .content-wrapper {
        justify-content: flex-start;
        flex-flow: row nowrap;
    }

    header figure {
        flex: 1;
        justify-content: flex-start;
    }

    .header-divider {
        display: none;
    }

    header nav {
        justify-content: flex-end;
        align-items: center;
        flex: 1;
    }

    header nav ul {
        justify-content: flex-end;
        margin-left: 1.6667em;
    }
    
    header nav ul li {
        margin-left: 1.6667em;
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .content-wrapper {
        text-align: center;
        padding: 4.95em;
    }

    footer .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    address .contact {

    }

    footer .social {

    }

    footer .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .social-icons p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-area {
        height: 600px;
    }
    
        /*Aside*/
    
    aside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    aside .content-wrapper {
        flex-basis: 85%;
        display: flex;
        align-items: flex-start;
    }

    aside .form-description {
        flex: 1;
        margin-right: 45px;
    }

    aside .form {
        flex: 1;
        margin-left: 45px;
        margin-top: 0;
    }

    .form input {
        width: 100%;
        padding: 9px, 0;
    }

    input[type=text] {
      padding: .675em;
    }

    input[type=button] {
      padding: .675em 0;
      margin-top: 1.25em;
      font-size: 1.125em;
    }

        /* Features */

    .features article {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features-item-description {
        width: 200px;
        text-align: center;
    }
    
        /*Reviews*/

    .reviews {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .reviews .content-wrapper {
        flex-basis: 83%;
    }
    
    .reviews h3 {
        flex-basis: 77%;
    }

    .review-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    
/* ==========================================================================
   Tablet About Page
========================================================================== */
    
    .mission {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        margin: 0 auto;
    }
    
    .mission .content-wrapper {
        padding: 3.5em;
    }
    
    .mission-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .mission-content p {
        flex-basis: 46%;
    }

    .contact-section {
        display: block;
        margin: 0 auto;
    }
    
    .contact-section .content-wrapper {
        padding: 3.5em;
    }
    
    .contact-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .map figure {
        padding-bottom: 45%; 
    }


/* ==========================================================================
   Tablet FAQ Page
========================================================================== */

    .faq .content-wrapper {
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 
    }
    
    .faq h2 {
        flex-basis: 100%;
    }
    
    .faq .faq-content {
        flex-basis: 46%;
    }
    
}

@media only screen and (min-width: 1200px) {
/*Desktop styles here*/
    
    html {
        font-size: 27px;
    }
    
    h2 {
        font-size: 1.35em;
    }
    
    p {
        font-size: .675em;
    }
    
    nav ul li {
        font-size: 0.6666em;
    }
    
       /*DESKTOP HEADER AND FOOTER STYLES*/
    
    header {
        padding: 1.56em 4.1em;
    }

    footer .content-wrapper {
        padding: 3.7em;
    }

    footer .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .social-icons p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
        /*Aside*/
    
    aside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    aside .content-wrapper {
        flex-basis: 85%;
        display: flex;
        align-items: flex-start;
    }

    .form-description {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start  
    }
    
    .form-description p {
        width: 320px;
    }
    
    .form-description h3 {
        width: 320px;
    }

    .form {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start
    }

    .form input {
        width: 100%;
    }

        /* Features */

    .features article {
        flex-basis: 30%;
    }
    
        /*Reviews*/

    .reviews {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .reviews .content-wrapper {
        flex-basis: 83%;
    }
    
    .reviews h3 {
        flex-basis: 77%;
    }

    .review-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    
/* ==========================================================================
   Desktop About Page
========================================================================== */
    
    .contact-content {
        justify-content: flex-start;
    }
    
    .contact-content div {
        flex: 1;
    }
    
    .map figure {
        padding-bottom: 37.5%; 
    }
    
    /*Desktop styles END*/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

